<h1 class="page-header">
    Page Heading <small>Secondary Text</small>
</h1>
<!-- posts -->
<div data-ng-repeat="post in posts">
    <h2>
        <a data-ui-sref="blog.post({'post-slug' : post.slug})" data-ng-bind="post.title"></a>
    </h2>
     <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.postedAt}}</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p data-ng-bind="post.excerpt">
    </p>
    <a class="btn btn-primary" data-ui-sref="blog.post({'post-slug' : post.slug})">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
</div>

 <!-- Pager -->
<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>
</ul>
               
