html {
  position: relative;
  min-height: 100%;
}
body {
    margin-top: 70px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    margin-bottom: 60px; /*sticky footer*/
}

.img-center {
	margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}